@import (reference) '~antd/es/style/themes/index';

.container {
  display: flex;
  justify-content: center;
}

.content {
  width: 64em !important;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  margin: 0 48px;
  font-size: xx-large;
}
